@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 33% 96%;
    --foreground: 218 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 218 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 60% 10%;
    --primary: 218 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 33% 90%;
    --secondary-foreground: 218 60% 20%;
    --muted: 208 33% 90%;
    --muted-foreground: 218 20% 40%;
    --accent: 264 63% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 218 20% 90%;
    --input: 218 20% 90%;
    --ring: 218 60% 50%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 218 60% 5%;
    --foreground: 208 33% 95%;
    --card: 218 60% 7%;
    --card-foreground: 208 33% 95%;
    --popover: 218 60% 7%;
    --popover-foreground: 208 33% 95%;
    --primary: 218 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 15%;
    --secondary-foreground: 208 33% 95%;
    --muted: 218 30% 15%;
    --muted-foreground: 218 20% 60%;
    --accent: 264 63% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 218 30% 15%;
    --input: 218 30% 15%;
    --ring: 218 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  code {
    @apply font-code;
  }
}